<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/codemirror.css">
	<title>Learn VHDL</title>
</head>
<body>
	<div class="container">
		<h1><a href="/">Learn VHDL</a></h1>

		<hr>

		<%= description %>

		<form class="form" method="POST">
			<div class="form-group" style="border: 1px solid #888;">
				<textarea class="form-control" name="code" id="code" rows="30" required><%= boilerplate %></textarea>
			</div>

			<div class="form-group">
				<button class="form-control">Validate!</button>
			</div>
		</form>
	</div>

	<script type="text/javascript" src="/codemirror.js"></script>
	<script type="text/javascript" src="/vhdl.js"></script>
	<script type="text/javascript">
		CodeMirror.fromTextArea(document.getElementById('code'), {
			mode: "vhdl"
		});
	</script>
</body>
</html>