<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>Learn VHDL</title>
</head>
<body>
	<div class="container">
		<h1>Learn VHDL</h1>

		<hr>

		<p>Learn VHDL helps you learn VHDL in your browser. </p>

		<hr>

		<h3>Exercises</h3>

		<p>Every exercise submission is automatically tested using a testbench.</p>

		<p>Available exercices :

			<ul>
				<li><a href="/exercise/1">Exercise 1 - Logic types</a></li>
				<li><a href="/exercise/2">Exercise 2 - Elementary logic operations</a></li>
				<li><a href="/exercise/3">Exercise 3 - 1-bit adder/half adder</a></li>
				<li><a href="/exercise/4">Exercise 4 - 1-bit adder (with carry input)/full adder</a></li>
				<li>Exercise 5 - Using components : multibit adder</li>
				<li>Exercise 6 - LUTs</li>
				<li>Exercise 7 - Numbers in numeric_std</li>
				<li>Exercise 8 - Latches</li>
				<li>Exercise 9 - Counters</li>
				<li>Exercise 10 - FSMs</li>
			</ul>
		</p>
	</div>
</body>
</html>